---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/phgarcia.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";

import featureImage from "@images/ph_garcia_pintura.png";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/pintura.jpg";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title=`Precisou Consertar em <span
        class="text-yellow-500 dark:text-yellow-400">Curitiba?</span>`
    subTitle="Especialista em Reparos, Instalação de Pisos, Pintura, Elétrica e Hidráulica."
    primaryBtn="Chamar no WhatsApp"
    primaryBtnURL="https://wa.me//5541999843157?text=Preciso%20de%20um%20or%C3%A7amento"
    secondaryBtn="Ver Projetos Concluídos"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Mais de <span class="font-bold">100</span> Avaliações`
    src={heroImage}
    alt="Reparos em Curitiba"
  />

  <ClientsSection
    title="Técnico em Edificações - FIEP"
    subTitle="Formado em edificações pela FIEP -  Federação das Indústrias do Estado do Paraná"
  />

  <FeaturesGeneral
    title="Por que escolher nossos serviços?"
    subTitle="Se você está procurando um especialista em reparos em Curitiba, está no lugar certo! Oferecemos serviços de instalação de pisos, pintura, elétrica e hidráulica, garantindo qualidade, agilidade e o melhor custo-benefício para sua residência ou empresa."
    src={featureImage}
    alt="PH Garcia Reparos pintando parede"
    features={features}
  />

  <FeaturesNavs
    title=`Nossos <span class="text-yellow-500 dark:text-yellow-400">Serviços:</span>`
    tabs={[
      {
        heading: "Instalação de Pisos",
        content:
          "Aplicação de porcelanato, laminado, vinílico e outros tipos de revestimentos com acabamento profissional.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Pintura",
        content:
          "Pintura interna e externa para renovar sua casa ou escritório.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Serviços Elétricos",
        content:
          "Instalação e manutenção de fiação, tomadas, disjuntores e luminárias.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Serviços Hidráulicos",
        content:
          "Conserto de vazamentos, instalação de torneiras, registros, caixas d’água e muito mais.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
    ]}
  />

  <TestimonialsSection
    title="Como solicitar um serviço?"
    subTitle="Basta entrar em contato conosco pelo botão do WhatsApp! Atendemos toda Curitiba e região com rapidez e eficiência. Não perca tempo, chame um especialista agora mesmo!"
    ;
    testimonials={[
      {
        content:
          "Precisei de um reparo urgente em minha casa e o atendimento foi excepcional! A equipe demonstrou agilidade e comprometimento do início ao fim, resolvendo meu problema com eficiência e qualidade. Recomendo a todos que precisam de um serviço confiável em Curitiba!",
        author: "Samantha Ruiz",
        role: "",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "+ de 4.200",
        description:
          "Clientes atendidos somente em Curitiba e região metropolitana.",
      },
    ]}
  />

  <FAQ title="Perguntas<br />Frequentes" faqs={faqs} />

  <HeroSectionAlt
    title="Chama o PH!"
    subTitle="Se você está procurando um especialista em reparos em Curitiba, está no lugar certo! Oferecemos serviços de instalação de pisos, pintura, elétrica e hidráulica, garantindo qualidade, agilidade e o melhor custo-benefício para sua residência ou empresa."
    url="http://wa.me/+5504199843157"
  />
</MainLayout>
